/* ==UserStyle==
@name           misskey
@namespace      github.com/mapi/qol
@version        0.0.3
@updateURL      https://raw.githubusercontent.com/mapi/qol/main/stylus/misskey.user.css
==/UserStyle== */

@-moz-document domain("misskey.io") {
    /* HTLで「見たことのあるRenoteを省略して表示」で省略されてるRNを非表示*/
    header:has(.ti-home) ~ div .xcSej.x3762:has(.xBwhh):has(.x22gY) {
        display: none;
    }

    /* STLでソフトミュートの「何かを言いました」を非表示 */
    header:has(.ti-universe) ~ div .xkYCV.x3762 {
        display: none;
    }

    /* hide bot post */
    div .xcSej.x3762:has(.xEKlD) {
        display: none;
    }
}
